.banner_text {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(../../../assets/homepage_banner/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}